<template>
    <transition appear  enter-active-class="animated zoomIn" leave-active-class="animated zoomOut ">
        <div>
            <q-banner class="bg-warning q-mt-lg shadow-14" rounded :class="bgColor">
            <template v-slot:avatar>
                <q-icon :name="icon" color="primary" />
            </template>
                <p class="text-primary text-weight-medium "> <slot></slot></p>
            </q-banner>
        </div>  
    </transition>  

</template>

<script>
export default {
props:['bgColor', 'icon']
}
</script>

<style>
    
</style>