<template>
  <q-item  v-ripple  @click="updateTask({id: id, updates: { completed: !task.completed} })" clickable :class="!task.completed ? 'bg-orange-2' : 'bg-green-4' " v-touch-hold:1000.mouse="showEditTaskModal"> 
        <q-item-section side top>
          <q-checkbox :value="task.completed" class="no-pointer-events"/>
        </q-item-section>

        <q-item-section>
          <q-item-label :class="{'text-strike': task.completed}" v-html="$options.filters.searchHighLight(task.name, search)">  </q-item-label> <!--To use htmml within the {{}} we have to use the v-hmtl-->
        </q-item-section>

        <q-item-section side  v-if="task.dueDate">
            <div class="row">
                <div class="column justify-center">
                <q-icon name="event" size="18px" class="q-mr-xs"/>
            </div>
            <div class="column">
                <q-item-label caption class="row justify-end">{{ task.dueDate | niceDate}}</q-item-label>
                <small><q-item-label caption class="row justify-end">{{ taskDueTime }}</q-item-label></small>
                </div>
            </div>
        </q-item-section>
        <q-item-section side>
          <div class="row">
            <q-btn  flat round dense color="primary" icon="edit" @click.stop="showEditTask = true"/>
            <q-btn flat round dense color="red" icon="delete" @click.stop="promptToDelete(id)"/>
          </div>
        </q-item-section>

        <q-dialog v-model="showEditTask">
          <edit-task @closeModalAdd="showEditTask = false" :task="task" :id="id"/>
        </q-dialog>
    </q-item>
</template>

<script>
import { mapActions, mapState, mapGetters } from 'vuex'
import { date } from 'quasar'

export default {
    props:['task', 'id'],
    data() {
      return {
        showEditTask: false
      }
    },
    computed:{
      ...mapState('tasks', ['search']),
      ...mapGetters('settings',['settings']),
      taskDueTime(){
        if(this.settings.show12HourTimeFormart){
          // here i'm passing also the dueTime because the formatDate is expecting a complete date
         return date.formatDate(this.task.dueDate+ ' ' + this.task.dueTime, 'h:mmA')
          
        }
        return this.task.dueTime      
        }
    },
    methods:{
        ...mapActions('tasks', ['updateTask','deleteTask']),
        promptToDelete(id){
            this.$q.dialog({
                title: 'Confirm',
                message: 'Would you like to delete the task?',
                ok: {
                push: true
                },
                cancel: {
                push: true,
                color: 'negative'
                },
                persistent: true
                }).onOk(() => {
                this.deleteTask(id) /* This method i got it from the mapActions*/ 
                })
        },
        showEditTaskModal(){ // just created to handle the touche mouse event
          this.showEditTask = true
        }
    },
    filters:{
      niceDate(value){
        return date.formatDate(value, 'DD-MM-YY')
      },
      searchHighLight(value, search){
        if(search){
          let searchRegEx = new RegExp(search, 'ig')
        return  value.replace(searchRegEx, (match) =>{
            return '<span class="bg-yellow-6">'+match+'</span>'
          })
        }
        return value
      } 
    },
    components:{
      'edit-task': require('components/Tasks/Modals/EditTask').default
    }

}
</script>

<style>

</style>