<template>
    <q-page> 
    
      
      <documents />

      <div class="bottom text-center q-mt-lg no-pointer-events">
        <q-btn round  color="primary" size="24px" icon="add" @click="showAddDocument = true" class="all-pointer-events"/>
      </div>

      <q-dialog v-model="showAddDocument" >
        <add-document @closeModalAddDocument="showAddDocument = false"/>
      </q-dialog>
    
    </q-page>
      
</template>

<script>
import {mapActions} from 'vuex'
export default {
  data() {
    return {
      showAddDocument: false
    }
  }, 
  components:{
    'documents': require('components/Documents/Documents').default,
    'add-document': require('components/Documents/AddDocument').default,
    
   
  },
  methods:{
    ...mapActions('documents', ['apiReadDocuments'])
  },
  mounted(){ 
    this.apiReadDocuments()
    
    
  }

}
</script>

<style>
.q-scrol-area-tasks{
    display: flex;
    flex-grow: 1;
  }
</style>