<template>
  <q-page>
    <!--Check if the form has been filled in-->
    <no-demarche v-if="!formCompleted"/>

    <demarche class="q-mb-md" v-else/>

    <!--Form to update user's data -->
    <q-dialog v-model="showEditDemarche" >
      <edit-demarche class="dialog-add-demarche" @closeModalEditDemarche="showEditDemarche = false" :userData="getterUserData"/>
    </q-dialog>
  
    <!--Form to add user's data -->
    <q-dialog v-model="showAddDemarche"  >
      <add-demarche class="dialog-add-demarche" @closeModalAddDemarche="showAddDemarche = false"/>
    </q-dialog>

    <!--Link to the visa's Checklist -->
    <q-dialog v-model="showChecklistVisa"  >
      <checklist-visa :transferCheckiListVisa="checkListVisa" @closeModalshowChecklistVisa="showChecklistVisa = false"/>
    </q-dialog>

    <!--Link to the driver's license Checklist -->
    <q-dialog v-model="showChecklistPermis"  >
      <checklist-permis :transferCheckiListVisa="checkListVisa" @closeModalshowChecklistPermis="showChecklistPermis = false"/>
    </q-dialog>
    <div class="row">
      <div class="q-px-lg q-mt-md col-12 col-md-5 " @click="showChecklistVisa=true" v-if="formCompleted">
          <q-card class="my-card shadow-14"  clickable>
            <q-img src="../assets/titre-de-sejour.png" basic class="q-pb-sm" >
              
            </q-img>
          </q-card>
      </div>  
      
      <div class="q-px-lg q-mt-md col-12 col-md-5"  @click="showChecklistPermis=true" v-if="formCompleted">
        <q-card class="my-card shadow-14" >
            <q-img src="../assets/permis-de-conduire.png" basic class="q-pb-sm"  >
              
            </q-img>
          </q-card>
      </div>
    </div>  

  

  </q-page>
  
</template>

<script>
import {mapState, mapGetters, mapActions} from 'vuex'
export default {
data() {
    return {
      tab: 'visa',
      showAddDemarche: false,
      showEditDemarche: false,
      showChecklistVisa:false,
      showChecklistPermis:false,
      transferCheckiListVisa:{}
      
      
    }
  },  
components:{
  'no-demarche': require('components/Demarches/noDemarche.vue').default,
  'demarche': require('components/Demarches/Demarche.vue').default,
  'add-demarche': require('components/Demarches/AddDemarche.vue').default,
  'edit-demarche': require('components/Demarches/EditDemarche.vue').default,
  'checklist-visa': require('src/components/Demarches/ChecklistVisa.vue').default,
  'checklist-permis': require('src/components/Demarches/ChecklistPermis.vue').default,
},
computed:{
    ...mapState('auth', ['formCompleted']),
    ...mapGetters('demarches', ['checkListVisa']),
    ...mapGetters('auth', ['getterUserData'])
},
methods:{
    ...mapActions('auth', ['getUserData']),
    ...mapActions('demarches', ['apiReadCheckLists'])
    
},
mounted(){
    this.$root.$on('showAddDemarche',()=>{
      this.showAddDemarche = true
    })
    this.getUserData()
      this.$root.$on('showEditDemarche',()=>{
      this.showEditDemarche = true
    })
    this.apiReadCheckLists()
  }

}
</script>

<style>
  .dialog-add-demarche{
    height: 85%;
    width: 95%;
  }
  .qtabDemarches{
    border-radius: 10px;
  
    
  }
  

  
</style>