<template>
  <q-page  > 
    <div class="q-pa-md absolute full-width full-height column"> 

        <template v-if="tasksDownloaded">
            <div class="row q-mb-lg">
          <search/> 
          <sort/>
          </div>
          <p v-if="search && !Object.keys(tasksTodo).length && !Object.keys(tasksCompleted).length">No Search results.</p>
          
            <q-scroll-area class="q-scrol-area-tasks"> <!-- Using the div just because of the animation with the TasksTodo-->
            <!-- No task-->
            <no-tasks v-if="!Object.keys(tasksTodo).length && !search && !settings.showTasksInOneList"></no-tasks>
            <!-- Tasks ToDo-->
              <tasks-todo :tasksTodo="tasksTodo" v-if="Object.keys(tasksTodo).length"/>

            <!-- Tasks Completed-->
            <tasks-completed :tasksCompleted="tasksCompleted" v-if="Object.keys(tasksCompleted).length" class="q-mb-xl q-mt-xl"/> 
            </q-scroll-area>
            <!-- Add a task-->
            <div class="absolute-bottom text-center q-mb-lg no-pointer-events">
              <q-btn round  color="primary" size="24px" icon="add" @click="showAddTask = true" class="all-pointer-events"/>
            </div>
        </template>
        <template v-else>
          <span class="absolute-center">
            <q-spinner color="primary" size="3em" :thickness="10" />
          </span> 
        </template>
      </div>

    <q-dialog v-model="showAddTask">
        <add-task @closeModalAdd="showAddTask = false"/>
    </q-dialog>

  </q-page>
</template>

<script>

import { mapGetters, mapState } from 'vuex'
export default {
  data() {
    return {
      showAddTask: false
    }
  },
  computed:{
    ...mapGetters('tasks', ['tasksTodo', 'tasksCompleted']),
    ...mapGetters('settings', ['settings']),
    ...mapState('tasks',['search', 'tasksDownloaded'])
    
  },
  components:{
    'add-task': require('components/Tasks/Modals/AddTask.vue').default,
    'tasks-todo': require('components/Tasks/TasksTodo.vue').default,
    'tasks-completed': require('components/Tasks/TasksCompleted.vue').default,
    'no-tasks': require('components/Tasks/noTasks.vue').default,
    'search': require('components/Tools/Search.vue').default,
    'sort': require('components/Tools/Sort.vue').default
    
  },
  mounted(){
    this.$root.$on('showAddTask',()=>{
      this.showAddTask = true
    })
  },
  
}
</script>

<style>
  .q-scrol-area-tasks{
    display: flex;
    flex-grow: 1;
  }
</style>