<template>

<q-page padding >
   <q-list bordered padding class="q-mb-md">
      <q-item-label header>Settings</q-item-label>

      <q-item tag="label" v-ripple>
        <q-item-section>
          <q-item-label>Show 12 hour time format</q-item-label>
        </q-item-section>
        <q-item-section side >
          <q-toggle color="blue" v-model="show12HourTimeFormart" />
        </q-item-section>
      </q-item>

  
    </q-list>
    <q-list bordered padding>
    
      
      <q-item-label header>More</q-item-label>

      <q-item tag="label" v-ripple to="/settings/help"> 
        <q-item-section>
          <q-item-label>Help</q-item-label>
        </q-item-section>
        <q-item-section side >
            <q-icon name="chevron_right"/>
        </q-item-section>
      </q-item>

      <q-item tag="label" v-ripple @click="visitOurWebsite"> 
        <q-item-section>
          <q-item-label>Visit our Website</q-item-label>
        </q-item-section>
        <q-item-section side >
            <q-icon name="chevron_right"/>
        </q-item-section>
      </q-item>

      <q-item tag="label" v-ripple @click="emailUs"> 
        <q-item-section>
          <q-item-label>E-mail us</q-item-label>
        </q-item-section>
        <q-item-section side >
            <q-icon name="chevron_right"/>
        </q-item-section>
      </q-item>

      
    </q-list>
  </q-page>  
    
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { openURL } from 'quasar'
export default {
  
  computed: {
    ...mapGetters('settings', ['settings']),
      show12HourTimeFormart:{
        get(){
            return this.settings.show12HourTimeFormart
        },
        set(value){
            this.setShow12HourTimeFormart(value)
        }
      },
      showTasksInOneList:{
        get(){
            return this.settings.showTasksInOneList
        },
        set(value){
            this.setShowTasksInOneList(value)
        }
      }
  },
  methods:{
    ...mapActions('settings', ['setShow12HourTimeFormart', 'setShowTasksInOneList']),
    visitOurWebsite(){
      openURL('http://google.com')
    },
    emailUs(){
      window.location.href = 'mailto:diegosmarques@gmail.com?subject=Bienvenue Feeeback'
    }
  }
}
</script>

<style>

</style>