<template>
    <q-card>
        <modal-header class="bg-warning q-mb-sm text-white">Ajouter les données personnelles</modal-header>
            <q-scroll-area  style="height: 95%; max-width: 100%;" >
                <q-form @submit.prevent="submitDemarche"  ref="myFormDemarche">

                    <q-card-section class="q-pt-none">
                        <div >
                            <q-select color="primary" filled v-model="documentToSubmitUser.nationality" :options="nationality" label="Nationalité" :rules="[val => val && val.length > 0 || 'Choisir la nationalité']"  ref="nationality" >
                                <template v-if="documentToSubmitUser.nationality" v-slot:append>
                                    <q-icon name="cancel" @click.stop="documentToSubmitUser.nationality= null" class="cursor-pointer" />
                                </template>
                            </q-select>
                        </div>
                        <div >
                            <q-select color="primary" filled v-model="documentToSubmitUser.marital_status" :options="marital_status" label="Situation familiale" :rules="[val => val && val.length > 0  || 'Choisir le état civil']"  ref="maritalStatus">
                                <template v-if="documentToSubmitUser.marital_status" v-slot:append>
                                    <q-icon name="cancel" @click.stop="documentToSubmitUser.marital_status= null" class="cursor-pointer" />
                                </template>
                            </q-select>
                        </div>
                        <div >
                            <q-input filled  label="N° téléphone"  v-model="documentToSubmitUser.phone" :rules="[val => val && val.length > 9 || 'N° de téléphone pas valide']"   type="text" ref="phone" > 
                            <template v-if="documentToSubmitUser.phone" v-slot:append>
                                <q-icon name="cancel" @click.stop="documentToSubmitUser.phone= null" class="cursor-pointer" />
                            </template>

                            </q-input>  
                        </div>
                        <div >
                            <q-input filled  label="Ville"  v-model="documentToSubmitUser.city" :rules="[val => val && val.length > 0  || 'Remplir la ville']"  type="text" ref="city"> 
                            <template v-if="documentToSubmitUser.city" v-slot:append>
                                <q-icon name="cancel" @click.stop="documentToSubmitUser.city= null" class="cursor-pointer" />
                            </template>

                            </q-input>  
                        </div>
                        <div >
                            <q-input filled  label="Code postal(CP)"  v-model="documentToSubmitUser.zipcode" :rules="[val => val && val.length > 0 || 'Remplir le code postal']"   type="number" ref="zipcode"> 
                            <template v-if="documentToSubmitUser.zipcode" v-slot:append>
                                <q-icon name="cancel" @click.stop="documentToSubmitUser.zipcode= null" class="cursor-pointer" />
                            </template>

                            </q-input>  
                        </div>
                        <div >
                            <q-input filled  label="Numéro d'adresse"  v-model="documentToSubmitUser.number" :rules="[val => val && val.length > 0  || 'Remplir le numéro']"   type="text" ref="number"> 
                            <template v-if="documentToSubmitUser.number" v-slot:append>
                                <q-icon name="cancel" @click.stop="documentToSubmitUser.number= null" class="cursor-pointer" />
                            </template>

                            </q-input>  
                        </div>

                        <div >
                            <q-input filled  label="Adresse"  v-model="documentToSubmitUser.street" :rules="[val => val && val.length > 0  || 'Remplir le numéro']"   type="text" ref="street"> 
                            <template v-if="documentToSubmitUser.street" v-slot:append>
                                <q-icon name="cancel" @click.stop="documentToSubmitUser.street= null" class="cursor-pointer" />
                            </template>

                            </q-input>  
                        </div>
                        <div>
                            <q-input v-model="documentToSubmitUser.arrival_date" filled  label="Date d'arrivée en France"  :rules="[val => val && val.length > 0 || 'Choisir une date valable']" ref="arrivalDate">
                                <template v-slot:append>         
                                <q-icon  v-if="documentToSubmitUser.arrival_date" name="cancel" @click.stop="documentToSubmitUser.arrival_date = null"  />
                                </template> 
                                <q-popup-proxy  transition-show="scale" transition-hide="scale">
                                    <q-date mask="DD-MM-YYYY" v-model="documentToSubmitUser.arrival_date">
                                    <div class="row items-center justify-end q-gutter-sm">
                                        <q-btn label="Cancel" color="primary" flat v-close-popup />
                                        <q-btn label="OK" color="primary" flat  v-close-popup />
                                    </div>
                                    </q-date>
                                </q-popup-proxy>
                                
                            </q-input>
                        </div>

                        <div >
                            <q-field  filled stack-label>
                                <template v-slot:control>
                                    <div class="self-center full-width no-outline" tabindex="0">Permis de conduire délivré dans le pays d'origine</div>
                                </template>
                            </q-field>
                                
                            <q-radio  name="drive_license" v-model="documentToSubmitUser.drive_license" :val=true label="Oui" />
                            <q-radio  name="drive_license" color="red"  v-model="documentToSubmitUser.drive_license"  :val=false label="Non" />
                        </div>

                        <q-card-section class="row">
                            <div class="text-h6">Données Visa</div>
                            
                        </q-card-section>

                        <div>
                            <q-select color="primary" filled v-model="documentToSubmitUser.visa_type" :options="visa_type" label="Type de visa" :rules="[val => val && val.length > 0  || 'Choisir un type de visa']"   ref="visaType" >
                                <template v-if="documentToSubmitUser.visa_type" v-slot:append>
                                    <q-icon name="cancel" @click.stop="documentToSubmitUser.visa_type = null" class="cursor-pointer" />
                                </template>
                            </q-select>
                        </div>

                        <div>
                            <q-select color="primary" filled v-model="documentToSubmitUser.visa_cod" :options="visa_cod" label="Code de visa" :rules="[val => val && val.length > 0  || 'Choisir un type de visa']"  ref="visaCod"  >
                                <template v-if="documentToSubmitUser.visa_cod" v-slot:append>
                                    <q-icon name="cancel" @click.stop="documentToSubmitUser.visa_cod = null" class="cursor-pointer" />
                                </template>
                            </q-select>
                        </div>

                        <div>
                            <q-input v-model="documentToSubmitUser.expiry_date" filled  label="Valable jusqu'au"  :rules="[val => val && val.length > 0  || 'Choisir une date valable']" ref="expiryDate" >
                                <template v-slot:append>         
                                <q-icon  v-if="documentToSubmitUser.expiry_date" name="cancel" @click.stop="documentToSubmitUser.expiry_date = null"  />
                                </template> 
                                <q-popup-proxy  transition-show="scale" transition-hide="scale">
                                    <q-date mask="DD-MM-YYYY" v-model="documentToSubmitUser.expiry_date">
                                    <div class="row items-center justify-end q-gutter-sm">
                                        <q-btn label="Cancel" color="primary" flat v-close-popup />
                                        <q-btn label="OK" color="primary" flat  v-close-popup />
                                    </div>
                                    </q-date>
                                </q-popup-proxy>
                                
                            </q-input>
                        </div>

            
                        <div>
                            <q-card-actions align="right">
                                <q-btn  label="Enregistrer" color="primary" type="submit" />
                            </q-card-actions>
                        </div>
                        


                    </q-card-section>
                </q-form>
            </q-scroll-area>    
    </q-card>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'
export default {
    data() {
        return {
            documentToSubmitUser:{
                nationality:'',
                marital_status:'',
                phone:'',
                city:'',
                zipcode:'',
                street:'',
                number:'',
                arrival_date:'',
                drive_license:false,
                visa_cod:'',
                visa_type:'',
                expiry_date:'',
            }
        }
    },
    components:{
        'modal-header': require('components/Documents/ModalHeader.vue').default,

    },
    computed:{
        ...mapGetters('visa', ['visa_cod', 'visa_type']),
        ...mapGetters('generalData', ['nationality', 'marital_status'])
    },
    methods:{   
        submitDemarche(){
            this.$refs.myFormDemarche.validate().then(success => {
                if (success) {
                    this.updateUser(this.documentToSubmitUser)
                    this.$emit('closeModalAddDemarche') 
                    this.apiAddCheckList();
                }
                else {
                    this.formHasError = true
                    }
                })
        },
        

        ...mapActions('auth', ['updateUser']),
        ...mapActions('demarches', ['apiAddCheckList'])
        
    }
}
</script>

<style>

</style>