<template>
    <q-card>
        <modal-header class="bg-primary q-mb-sm text-white">Démarches permis de conduire</modal-header>
            <q-card-section>
                
                
                    

                
            </q-card-section>
        
    </q-card>
</template>

<script>
export default {
    props:['transferCheckiListVisa'],
    components:{
     'modal-header': require('components/Documents/ModalHeader.vue').default,
    },
    computed:{
        
    },
    mounted(){
        
    }

}
</script>

<style >


</style>