<template>
    <q-card>
        <modal-header class="bg-accent q-mb-sm text-white">Démarches titre de sejour</modal-header>
            <q-card-section>
                
                <q-item  v-ripple  v-for="(document, key) in transferCheckiListVisa" :key="key" :id="document.id" class="checkboxChecklist q-mt-sm " 
                @click="updateCheckList(document.idDocumentList[0].id, document.idDocumentList[0].completed=!document.idDocumentList[0].completed)" clickable :class="!document.idDocumentList[0].completed ? 'bg-grey-4 shadow-14 rounded-borders text-primary text-weight-medium' : 'bg-green-8 shadow-14 rounded-borders text-primary text-weight-medium'" > 
                    <q-item-section side top>
                        <q-checkbox   :value="document.idDocumentList[0].completed" class="no-pointer-events "/>
                        
                    </q-item-section>
                        
                    <q-item-section>
                        <q-item-label  :class="{'text-strike': document.idDocumentList[0].completed}"> {{document.abbreviation}} </q-item-label> 
                    </q-item-section>

                    
                    <q-item-section side v-if="document.attachment">
                        <div class="row">
                            <q-btn  flat round dense color="primary" icon="file_download"  />
                        </div>
                    </q-item-section>
                    <q-item-section side v-if="document.link || document.translation">
                        <div class="row">
                            <q-btn flat color="primary" icon="add" @click.stop="extraDetails(document)" />
                        </div>
                    </q-item-section>
                </q-item>
            </q-card-section>
            
        <q-dialog v-model="showingExtraInfo">
            <extra-info  @closeModalshowingExtraInfo="showingExtraInfo = false" :extraInfo="documentDetails"/>
        </q-dialog>
            
    </q-card>
</template>

<script>
import {mapActions} from 'vuex'
export default {
    props:['transferCheckiListVisa'],
    data() {
        return {
            showingExtraInfo: false,
            documentDetails:{}

        }
    },
    components:{
        'modal-header': require('components/Documents/ModalHeader.vue').default,
        'extra-info': require('src/components/Demarches/ExtraInfo.vue').default,
    },
    computed:{
        
    },
    methods:{
        ...mapActions('demarches', ['apiUpdateCheckList']),
        updateCheckList(id, completed){
            let payload = {
                id: id,
                completed:completed
            }
            this.apiUpdateCheckList(payload)
        },
        extraDetails(document){
            this.showingExtraInfo = true
            this.documentDetails = document
        }
    },
    mounted(){
        
    }

}
</script>

<style >

    
</style>