<template>
<transition appear  enter-active-class="animated zoomIn" leave-active-class="animated zoomOut ">
    <div class="banner">
        <q-banner class="bg-green-11 q-mt-lg shadow-14" rounded >
        <template v-slot:avatar>
          <q-icon name="check" color="primary" />
        </template>
          <p class="text-primary text-weight-medium"> Vous avez rempli le formulaire, ci-dessous les démarches à faire.</p>
        <template v-slot:action>
          <q-btn flat color="primary" label="Modifier" @click="$root.$emit('showEditDemarche')"/> <!--$root.$emit is used to send an event in a global way it s known as quasar event bus, we need to add a listner this.$root.on where we want this event to be called this is not the best way of doing its bette to put the variable in the store-->
        </template>
      </q-banner>
    </div>
</transition>  

</template>

<script>
export default {

}
</script>

<style scoped>
.banner{
  padding: 5%;
}

</style>