<template>
    <q-card>
      <modal-header classesHeader="bg-green-11 rounded"> Details supplémentaires </modal-header>
        <q-card-section>
          <div v-if="extraInfo.attachment">
            <p >Ce document a une pièce jointe</p>
            
          </div>
          <div v-if="extraInfo.translation" >
              <p class="text-subtitle1"> Ce document doit être traduit ! </p> 
            <div v-for="(translator, key) in getterTranslators " :key="key">  
              <q-separator/>
              <q-item-label header>Traducteur: {{translator.name}}</q-item-label>

              <q-item>
                <q-item-section avatar>
                  <q-icon color="primary" name="email" />
                </q-item-section>
                <q-item-section>{{translator.email  }}</q-item-section>
              </q-item>
              <q-item>
                <q-item-section avatar>
                  <q-icon color="primary" name="phone" />
                </q-item-section>
                <q-item-section>{{translator.phone  }}</q-item-section>
              </q-item>
              <q-item>
                <q-item-section avatar>
                  <q-icon color="primary" name="home" />
                </q-item-section>
                <q-item-section>{{translator.city  }}</q-item-section>
              </q-item>
              <q-separator/>
            </div>  
          </div >  

          <div v-if="extraInfo.link">
            <p >Lien pour effectuer cette procédure</p>
      
            <q-item tag="label" v-ripple @click="linkToOpen(extraInfo.link)"> 
              <q-item-section>
                <q-item-label>Accéder au site</q-item-label>
                </q-item-section>
                <q-item-section side >
                    <q-icon name="chevron_right"/>
                </q-item-section>
            </q-item>
                
            <l-map style="height: 500px; width: 100%" v-if=" extraInfo.abbreviation =='3 photographies (format 35mm x 45mm)'" :zoom="zoom"  :center="[userLocation.lat || defaultLocation.lat, userLocation.lng || defaultLocation.lng]" :options="mapOptions" @update:center="centerUpdate" @update:zoom="zoomUpdate">
            
            
              <l-tile-layer :url="url" :attribution="attribution" />

              <l-marker :lat-lng="[userLocation.lat || defaultLocation.lat, userLocation.lng || defaultLocation.lng]">
                <l-popup>
                  <div @click="innerClick">
                    I am a popup
                  </div>
                </l-popup>
            </l-marker>

            </l-map>
          </div>  
        </q-card-section>
      </q-card>

</template>

<script>
import { LMap, LTileLayer, LMarker, LPopup, LTooltip } from "vue2-leaflet";
import { openURL } from 'quasar'
import { latLng} from "leaflet";
import { mapGetters, mapActions } from 'vuex'
export default {
  props:['extraInfo'],
  components:{
    LMap,
    LTileLayer,
    LMarker,
    LPopup,
    LTooltip,
    defaultLocation: {
      type: Object,
      default: () => ({
        lat: 48.692054,
        lng: 6.184417
      })
      },
    'modal-header': require('components/Documents/ModalHeader.vue').default,
    

  },
  data() {
    return {
      zoom: 12,
      userLocation: {},
      url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      attribution:'&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      lat:0,
      lng:0,
      withPopup: latLng(48.692054, 6.184417),
      currentZoom: 11.5,
      currentCenter: latLng(48.692054, 6.184417),
      mapOptions: {
        zoomSnap: 0.5
      },
    }
  },
  computed:{
    ...mapGetters('auth', ['getterUserData']),
    ...mapGetters('translator', ['getterTranslators'])
  },
  methods:{
    ...mapActions('translator', ['apiGetTranslators']),
    zoomUpdate(zoom) {
      this.currentZoom = zoom;
    },
    centerUpdate(center) {
      this.currentCenter = center;
    },
    getLocation() {
      if(navigator.geolocation){
        navigator.geolocation.getCurrentPosition(this.successCallback, this.errorCallback);
        result.innerHTML = "Getting the position information...";
      }
    
    },
    successCallback(position){
    let lat = position.coords.latitude
    let lng = position.coords.longitude
      this.userLocation = {
        lat, lng
      }

    },
    errorCallback(error){
      console.log(error)
    },
    linkToOpen($url){
      openURL($url)
    }

  },
  beforeMount(){
    this.getLocation()
  },
  mounted(){
    this.apiGetTranslators()
  }
  
}
</script>

<style scoped>
</style>