<template>
    <q-card>
        <modal-header>Ajouter un document</modal-header>

        <form @submit.prevent="submitDocument" ref="">
            <!--Name Field-->
            <q-card-section class="q-pt-none">
                <div >
                    <q-select color="primary" filled v-model="documentToSubmit.document_type" :options="document_type" label="Type de document" :rules="[val => !!val || 'Choisir un type de document']" ref="document_type"  >
                        <template v-if="documentToSubmit.document_type" v-slot:append>
                            <q-icon name="cancel" @click.stop="documentToSubmit.document_type = null" class="cursor-pointer" />
                        </template>
                    </q-select>
                </div>
                <div  v-if="documentToSubmit.document_type == 'Visa'">
                    <q-select color="primary" filled v-model="documentToSubmit.visa_type" :options="visa_type" label="Type de visa" :rules="[val => !!val || 'Choisir un type de visa']" ref="visa_type"   >
                        <template v-if="documentToSubmit.visa_type" v-slot:append>
                            <q-icon name="cancel" @click.stop="documentToSubmit.visa_type = null" class="cursor-pointer" />
                        </template>
                    </q-select>
                </div>

                <div  v-if="documentToSubmit.document_type == 'Visa'">
                    <q-select color="primary" filled v-model="documentToSubmit.visa_cod" :options="visa_cod" label="Code de visa" :rules="[val => !!val || 'Choisir un type de visa']" ref="visa_type"  >
                        <template v-if="documentToSubmit.visa_cod" v-slot:append>
                            <q-icon name="cancel" @click.stop="documentToSubmit.visa_cod = null" class="cursor-pointer" />
                        </template>
                    </q-select>
                </div>    

                <div>
                    <q-input filled v-model="documentToSubmit.expiry_date" label="Valable jusqu'au" @input="$emit('update:dueDate', $event)" :rules="[val => !!val || 'Choisir une date valable']" >
                        <template v-slot:append>    
                            <q-icon v-if="documentToSubmit.expiry_date" name="cancel" @click.stop="documentToSubmit.expiry_date = null"  class="cursor-pointer"/> 
                            <q-icon name="event" class="cursor-pointer"> 
                                    <q-popup-proxy>
                                        <q-date  v-model="documentToSubmit.expiry_date" color="primary" mask="DD-MM-YYYY"  />
                                    </q-popup-proxy>    
                            </q-icon>
    
                        </template>
                    </q-input>
                </div>
                <div>
                    <q-card-actions align="right">
                        <q-btn  label="Enregistrer" color="primary" type="submit" />
                    </q-card-actions>
                </div>
                


            </q-card-section>
        </form>
    </q-card>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'
export default {
    data() {
        return {
            document_type:['Visa', 'Permis de Conduire'],
            documentToSubmit:{
                document_type:'',
                visa_type:'',
                visa_cod:'',
                expiry_date:'',
                
            }
        }
    },
    components:{
        'modal-header': require('components/Documents/ModalHeader.vue').default,
    },
    computed:{
        ...mapGetters('visa', ['visa_cod', 'visa_type'])
    },
    methods:{
        submitDocument(){
            this.apiAddDocument(this.documentToSubmit)
            this.$emit('closeModalAddDocument') // close the qdialog

        },
        ...mapActions('documents',['apiAddDocument'])
    }

}
</script>

<style>

</style>