<template>
<div class="banner">
<transition appear  enter-active-class="animated zoomIn" leave-active-class="animated zoomOut absolute-top"> <!--Usin this absolute top class because of the no tasktodo it was running the animation-->
    <div > <!--When we want to use two quasar vue component, it is necessary to surround it with a div-->
        
        <banner  v-if="documentsDownloaded" bgColor="bg-green-11" icon="contact_page" class="q-mb-lg">La liste des documents enregistrés</banner>
        <banner  v-else  bgColor="bg-warning" icon="contact_page" class="q-mb-lg">Ajouter de documents</banner>
        


        <q-list class="q-mb-sm "> 
            
            
            <q-item v-for="(document, key) in documents" :key="key" :id="document.id" class="shadow-5 q-mb-sm" >
                

                <q-item-section >
                    <q-item-label class="text-primary text-weight-bold"><small>Document</small></q-item-label>
                    <q-item-label class=""> {{ document.document_type}}</q-item-label> <!--To use htmml within the {{}} we have to use the v-hmtl-->
                </q-item-section>
                    
                <q-item-section side  >
                    <div class="row">
                        <div class="column justify-center">
                            <q-icon name="event" size="18px" class="q-mr-xs"/>
                        </div>
                    <div class="column">
                        <q-item-label ><small>Valable jusqu'au</small></q-item-label>
                        <q-item-label caption class="row justify-end">{{ document.expiry_date | niceDate}}</q-item-label>
                        
                    </div>
                    </div>
                </q-item-section>
                <q-item-section side>
                    <div class="row">
                        <q-btn  flat round dense color="primary" icon="edit" @click.stop="showModalEditDocument(document)" />
                        
                        <q-btn flat round dense color="red" icon="delete" @click.stop="promptToDelete(document.id, key)" />
                    </div>
                </q-item-section>
            </q-item>    
            <q-dialog v-model="showEditDocument"  >
                <edit-document @closeModalEditDocument="showEditDocument = false" :document="documentToEdit"/>
            </q-dialog>
        </q-list>

        
    </div>
        
</transition> 
</div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { date } from 'quasar'
export default {
    data() {
        return {
            showEditDocument:false,
            documentToEdit:{},
            documentoDownloaded:false
        }
    },
    computed:{
        ...mapGetters('documents',['documents', 'documentsDownloaded'])
    },
    components:{
        'list-header': require('components/Shared/ListHeader.vue').default,
        'edit-document': require('components/Documents/EditDocument').default,
        'banner': require('components/Shared/Banner.vue').default,
    },
    methods:{
        ...mapActions('documents', ['apiReadDocuments', 'apiDeleteDocument']),
        promptToDelete(id, key){
            this.$q.dialog({
                title: 'Confirm',
                message: 'Would you like to delete the task?',
                ok: {
                push: true
                },
                cancel: {
                push: true,
                color: 'negative'
                },
                persistent: true
                }).onOk(() => {
                this.apiDeleteDocument(id, key) 
                })
        },
        showModalEditDocument(document){
            this.showEditDocument=true
            this.documentToEdit= document

        }
        
    },
    filters:{
        niceDate(value){
        return date.formatDate(value, 'DD-MM-YY')
        }
    }
    
}
</script>

<style lang="scss">
.banner{
  padding: 5%;
}
</style>