<template>
    <q-card-section class="row sizeModalheader" :class="classesHeader">
        <div class="text-h6"><slot></slot></div>
        <q-space/>
        <q-btn flat round dense  icon="close" v-close-popup/>
    </q-card-section>

</template>

<script>

export default {
    props:['classesHeader']
}
</script>

<style>
    .sizeModalheader{
        width: 100%;
        height: 20%;
    }
</style>