<template>
  <q-layout view="hHh LpR fFf">
    <q-header elevated class="bg-secondary">
      <q-toolbar>
          <q-btn  flat dense round icon="menu" aria-label="Menu" @click="leftDrawerOpen = !leftDrawerOpen" class="text-primary " v-if="loggedIn"/>
          <q-toolbar-title class="absolute-center logo">
              Bienvenue
          </q-toolbar-title>

          
          
      </q-toolbar>
    </q-header>
    <q-footer v-if="loggedIn" >
      <q-tabs class="shadow-24 menuFooter" >
        <q-route-tab v-for="nav in navs" :key="nav.label" :icon="nav.icon"  :to="nav.to" class="text-primary bg-secondary"/>
      </q-tabs>
      
    </q-footer>
    <q-drawer v-model="leftDrawerOpen" show-if-above  :width="250" content-class="bg-secondary shadow-24" :breakpoint="767">
      <q-list >
        <q-item-label header class="text-primary text-center	text-weight-bold text-h4">
          Menu
        </q-item-label>
        
        <q-item class="text-primary text-weight-bold" v-for="nav in navs" :key="nav.label" clickable :to="nav.to" exact>
          <q-item-section avatar>
          <q-icon :name="nav.icon" />
        </q-item-section>

        <q-item-section>
          <q-item-label>{{ nav.label }}</q-item-label>
        </q-item-section>
      </q-item>

      <q-btn flat icon="logout" label="Logout" class="absolute-bottom text-primary"  @click="logoutUser"/>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import {mapState, mapActions} from 'vuex'

export default {
  name: 'Layout',
  data () {
    return {
      leftDrawerOpen: false,
      navs:[
        {
          label:'Démarches',
          icon:'list',
          to:'/'
        },
        {
          label:'Documents',
          icon:'description',
          to:'/documents'
        },
        {
          label:'Rendez-vous',
          icon:'event_available',
          to:'/appointement'
        },
        {
          label:'Services',
          icon:'saved_search',
          to:'/services'
        },
        {
          label:'Réglages',
          icon:'settings',
          to:'/settings'
        }
        
        

      ]
    }
  },
  computed:{
    ...mapState('auth', ['loggedIn'])
  },
  methods:{
    ...mapActions('auth', ['logoutUser']),
  }
}
</script>
<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');
@media screen and (min-width:768px){
  .q-footer{
    display: none;
  }
}
.q-drawer {
    .q-router-link--exaxt-active {
      color: #27477f !important;
    }
}

.q-drawer{
  box-shadow: 0px -7px 9px -7px rgba(0, 0, 0, 0.7) inset !important;
}

.logo{
 
  font-family: 'Monofett';
  font-weight: 400;
  color: #27477f;
  font-size: 2em;
}


</style>