<template>
  <q-card>
        <modal-header>Add Task</modal-header>

        <form @submit.prevent="submitForm">
            <q-card-section class="q-pt-none">
              <!-- Name Field -->   
              <modal-task-name :name.sync="taskToSubmit.name" ref="modalTaskName"/>
              <!-- Date Field -->
              <modal-due-date :dueDate.sync="taskToSubmit.dueDate" @clear="clearDueDate"/>
              <!-- Hour Field -->
              <modal-due-time :dueTime.sync="taskToSubmit.dueTime" :dueDate.sync="taskToSubmit.dueDate"/>
          </q-card-section>
            <!-- Button Save -->
              <modal-buttons/>
        </form>
      </q-card>
     
</template>

<script>
import { mapActions} from 'vuex'
import mixinAddEditTask from 'src/mixins/mixin-add-edit-task'
export default {
  mixins:[mixinAddEditTask],
    data() {
        return {
            taskToSubmit:{
                name:'',
                dueDate:'',
                dueTime:'',
                completed:false
            }
        }
    },
    methods:{
      ...mapActions('tasks', ['addTask']),
      submitTask(){
        this.addTask(this.taskToSubmit)
        this.$emit('closeModalAdd')
    }
    }
}
</script>

<style>

</style>