<template>
    <form @submit.prevent="submitForm">
        <div class="row q-mb-md">
            <q-banner class="bg-grey-3 col">
            <template v-slot:avatar>
                <q-icon name="account_circle" color="primary" />
            </template>
                {{ tab | titleCase }} pour accéder à votre application Bienvenue.
            </q-banner>
        </div>
        <div class="row q-mb-md" v-if="tab =='register'">
            <q-input outlined v-model="formData.name" label="Prénom" stack-label class="col" type="text" :rules="[ val => val.length > 0 || 'Please enter your name']" lazy-rules ref="name"/> 
        </div>
        <div class="row q-mb-md" v-if="tab =='register'">
            <q-input outlined v-model="formData.last_name" label="Nom" stack-label class="col" type="text" :rules="[ val => val.length > 0 || 'Please enter your last name']" lazy-rules ref="last_name"/> 
        </div>
        <div class="row q-mb-md">
            <q-input outlined v-model="formData.email" type="email" label="Email" stack-label class="col" :rules="[ val => isValidEmailAdress(val) || 'Please enter a valid email adress']" lazy-rules ref="email"/>
        </div>

        <div class="row q-mb-md">
            <q-input outlined v-model="formData.password" label="Mot de Passe" stack-label class="col" type="password" :rules="[ val => val.length >= 6 || 'Please enter at least 6 characters']" lazy-rules ref="password"/> 
                
        </div>
        <div class="row q-mb-md">
            <q-space/> <!--Just to fill in the space and push the button to end of the div-->
            <q-btn color="primary" :label="tab" type="submit"/>
        </div>
        
         <div v-if="tab =='login'" class="row bottom-right">
            <a href=""> Mot de passe oublié ?</a> 
        </div>
    </form>
</template>

<script>
import { mapActions} from 'vuex'
export default {
    props: ['tab'],
    data() {
        return {
            formData:{
                name:'',
                last_name:'',
                email:'',
                password:''
            }
        }
    },
    methods:{
        ...mapActions('auth',['registerUser', 'loginUser']),
        isValidEmailAdress(email){
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email.toLowerCase());
        },
        submitForm(){
            this.$refs.email.validate() // use this to validate the values in the input field and then we check with the if there is not an error
            this.$refs.password.validate()
            if(!this.$refs.email.hasError &&  !this.$refs.password.hasError){
                if(this.tab == 'login'){
                    this.loginUser(this.formData)
                }else {
                    this.registerUser(this.formData)
                }
            }
        }
    },
    filters:{
        titleCase(value){
            return value.charAt(0).toUpperCase() + value.slice(1)
        }
    }
}
</script>

<style>

</style>